/* Aplicando reset no css padrão */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Corrigido aqui */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: Center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left h1 {
  font-size: 36px;
  color: #000000;
  margin-bottom: 20px;
  margin-left: -140px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 25px;
  width: 70%;
}

.form input {
  color: #000000;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input::placeholder {
  color: #000000;
}

form input:focus {
  outline: none;
  border-color: #0056fb;
  box-shadow: 0 0 5px rgba(0, 86, 251, 0.5);
}

.right-area {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0056fb;
}
